.Rproj.user/
.Rhistory 
.DS_Store
data-raw/.DS_Store
data-raw/output/aggr_state_combined_plot.png
data-raw/output/aggr_state_combined_quantiles.png
data-raw/output/random_state_combined_plot.png
data-raw/sampled_data/.DS_Store
Model/run_model.R
pics/random_state_euc.png
pics/random_state_no_cutoff.png
pics/random_state.png
pics/sim_state_euc.png
pics/sim_state.png
doc_ju.html
frag_comparison.gif
styles.css
pics/dist_decay_full.png
pics/dist_decay_smooth.png
pics/fbm_frag_ac_0.5_frag_0.5_1.png
pics/fbm_fragmented_ac_0.5_frag_0.5_3.png
pics/fbm_full_ac_0.5_2.png
pics/fbm_H.gif
pics/fbm_H0.52.png
pics/fbm_tiled_ac_0.5_1.png
pics/frag_comparison.gif
pics/fragmented_ls.png
pics/full vs fragmented.png
pics/nlm_fbm_ac_0.5.png
pics/r_clumps.png
pics/SC_high_frag_grid.png
pics/SC_low_frag_grid.png
pics/sSBR_full.png
pics/sSBR_smooth.png
pics/t_clumps.png
data-raw/sampled_data/sim_1_ac_0.1_frag_0.2_samp_random.csv
data-raw/sampled_data/sim_1_ac_0.1_frag_0.5_samp_random.csv
data-raw/sampled_data/sim_1_ac_0.1_frag_0.8_samp_random.csv
data-raw/sampled_data/sim_1_ac_0.3_frag_0.2_samp_random.csv
data-raw/sampled_data/sim_1_ac_0.3_frag_0.5_samp_random.csv
data-raw/sampled_data/sim_1_ac_0.3_frag_0.8_samp_random.csv
data-raw/sampled_data/sim_1_ac_0.5_frag_0.2_samp_random.csv
data-raw/sampled_data/sim_1_ac_0.5_frag_0.5_samp_random.csv
data-raw/sampled_data/sim_1_ac_0.5_frag_0.8_samp_random.csv
data-raw/sampled_data/sim_1_ac_0.7_frag_0.2_samp_random.csv
data-raw/sampled_data/sim_1_ac_0.7_frag_0.5_samp_random.csv
data-raw/sampled_data/sim_1_ac_0.7_frag_0.8_samp_random.csv
data-raw/sampled_data/sim_1_ac_0.9_frag_0.2_samp_random.csv
data-raw/sampled_data/sim_1_ac_0.9_frag_0.5_samp_random.csv
data-raw/sampled_data/sim_1_ac_0.9_frag_0.8_samp_random.csv
output/model_states/0001_ac0.1_frag0.2_edge1_disp2_r001.rds
output/model_states/0002_ac0.1_frag0.5_edge1_disp2_r001.rds
output/model_states/0003_ac0.1_frag0.8_edge1_disp2_r001.rds
output/model_states/0004_ac0.3_frag0.2_edge1_disp2_r001.rds
output/model_states/0005_ac0.3_frag0.5_edge1_disp2_r001.rds
output/model_states/0006_ac0.3_frag0.8_edge1_disp2_r001.rds
output/model_states/0007_ac0.5_frag0.2_edge1_disp2_r001.rds
output/model_states/0008_ac0.5_frag0.5_edge1_disp2_r001.rds
output/model_states/0009_ac0.5_frag0.8_edge1_disp2_r001.rds
output/model_states/0010_ac0.7_frag0.2_edge1_disp2_r001.rds
output/model_states/0011_ac0.7_frag0.5_edge1_disp2_r001.rds
output/model_states/0012_ac0.7_frag0.8_edge1_disp2_r001.rds
output/model_states/0013_ac0.9_frag0.2_edge1_disp2_r001.rds
output/model_states/0014_ac0.9_frag0.5_edge1_disp2_r001.rds
output/model_states/0015_ac0.9_frag0.8_edge1_disp2_r001.rds
output/model_states/0016_ac0.7_frag0.2_edge1_disp2_r002.rds
output/model_states/0017_ac0.7_frag0.5_edge1_disp2_r002.rds
output/model_states/0018_ac0.7_frag0.8_edge1_disp2_r002.rds
output/model_states/0019_ac0.7_frag0.2_edge1_disp2_r003.rds
output/model_states/0020_ac0.7_frag0.5_edge1_disp2_r003.rds
output/model_states/0021_ac0.7_frag0.8_edge1_disp2_r003.rds
output/model_states/0022_ac0.7_frag0.2_edge1_disp2_r004.rds
output/model_states/0023_ac0.7_frag0.5_edge1_disp2_r004.rds
output/model_states/0024_ac0.7_frag0.8_edge1_disp2_r004.rds
output/model_states/0025_ac0.7_frag0.2_edge1_disp2_r005.rds
output/model_states/0026_ac0.7_frag0.5_edge1_disp2_r005.rds
output/model_states/0027_ac0.7_frag0.8_edge1_disp2_r005.rds
output/model_states/0028_ac0.7_frag0.2_edge1_disp2_r006.rds
output/model_states/0029_ac0.7_frag0.5_edge1_disp2_r006.rds
output/model_states/0030_ac0.7_frag0.8_edge1_disp2_r006.rds
output/model_states/0031_ac0.7_frag0.2_edge1_disp2_r007.rds
output/model_states/0032_ac0.7_frag0.5_edge1_disp2_r007.rds
output/model_states/0033_ac0.7_frag0.8_edge1_disp2_r007.rds
output/model_states/0034_ac0.7_frag0.2_edge1_disp2_r008.rds
output/model_states/0035_ac0.7_frag0.5_edge1_disp2_r008.rds
output/model_states/0036_ac0.7_frag0.8_edge1_disp2_r008.rds
output/model_states/0037_ac0.7_frag0.2_edge1_disp2_r009.rds
output/model_states/0038_ac0.7_frag0.5_edge1_disp2_r009.rds
output/model_states/0039_ac0.7_frag0.8_edge1_disp2_r009.rds
output/model_states/0040_ac0.7_frag0.2_edge1_disp2_r010.rds
output/model_states/0041_ac0.7_frag0.5_edge1_disp2_r010.rds
output/model_states/0042_ac0.7_frag0.8_edge1_disp2_r010.rds
output/model_states/0043_ac0.7_frag0.2_edge1_disp2_r011.rds
output/model_states/0044_ac0.7_frag0.5_edge1_disp2_r011.rds
output/model_states/0045_ac0.7_frag0.8_edge1_disp2_r011.rds
output/model_states/0046_ac0.7_frag0.2_edge1_disp2_r012.rds
output/model_states/0047_ac0.7_frag0.5_edge1_disp2_r012.rds
output/model_states/0048_ac0.7_frag0.8_edge1_disp2_r012.rds
output/model_states/0049_ac0.7_frag0.2_edge1_disp2_r013.rds
output/model_states/0050_ac0.7_frag0.5_edge1_disp2_r013.rds
output/model_states/0051_ac0.7_frag0.8_edge1_disp2_r013.rds
output/model_states/0052_ac0.7_frag0.2_edge1_disp2_r014.rds
output/model_states/0053_ac0.7_frag0.5_edge1_disp2_r014.rds
output/model_states/0054_ac0.7_frag0.8_edge1_disp2_r014.rds
output/model_states/0055_ac0.7_frag0.2_edge1_disp2_r015.rds
output/model_states/0056_ac0.7_frag0.5_edge1_disp2_r015.rds
output/model_states/0057_ac0.7_frag0.8_edge1_disp2_r015.rds
output/model_states/0058_ac0.7_frag0.2_edge1_disp2_r016.rds
output/model_states/0059_ac0.7_frag0.5_edge1_disp2_r016.rds
output/model_states/0060_ac0.7_frag0.8_edge1_disp2_r016.rds
output/model_states/0061_ac0.7_frag0.2_edge1_disp2_r017.rds
output/model_states/0062_ac0.7_frag0.5_edge1_disp2_r017.rds
output/model_states/0063_ac0.7_frag0.8_edge1_disp2_r017.rds
output/model_states/0064_ac0.7_frag0.2_edge1_disp2_r018.rds
output/model_states/0065_ac0.7_frag0.5_edge1_disp2_r018.rds
output/model_states/0066_ac0.7_frag0.8_edge1_disp2_r018.rds
output/model_states/0067_ac0.7_frag0.2_edge1_disp2_r019.rds
output/model_states/0068_ac0.7_frag0.5_edge1_disp2_r019.rds
output/model_states/0069_ac0.7_frag0.8_edge1_disp2_r019.rds
output/model_states/0070_ac0.7_frag0.2_edge1_disp2_r020.rds
output/model_states/0071_ac0.7_frag0.5_edge1_disp2_r020.rds
output/model_states/0072_ac0.7_frag0.8_edge1_disp2_r020.rds
output/model_states/0073_ac0.7_frag0.2_edge1_disp2_r021.rds
output/model_states/0074_ac0.7_frag0.5_edge1_disp2_r021.rds
output/model_states/0075_ac0.7_frag0.8_edge1_disp2_r021.rds
output/sampled_data/0001_ac0.1_frag0.2_edge1_disp2_r001_samp_all.csv
output/sampled_data/0001_ac0.1_frag0.2_edge1_disp2_r001_samp_cb.csv
output/sampled_data/0001_ac0.1_frag0.2_edge1_disp2_r001_samp_rand.csv
output/sampled_data/0002_ac0.1_frag0.5_edge1_disp2_r001_samp_all.csv
output/sampled_data/0002_ac0.1_frag0.5_edge1_disp2_r001_samp_cb.csv
output/sampled_data/0002_ac0.1_frag0.5_edge1_disp2_r001_samp_rand.csv
output/sampled_data/0003_ac0.1_frag0.8_edge1_disp2_r001_samp_all.csv
output/sampled_data/0003_ac0.1_frag0.8_edge1_disp2_r001_samp_cb.csv
output/sampled_data/0003_ac0.1_frag0.8_edge1_disp2_r001_samp_rand.csv
output/sampled_data/0004_ac0.3_frag0.2_edge1_disp2_r001_samp_all.csv
output/sampled_data/0004_ac0.3_frag0.2_edge1_disp2_r001_samp_cb.csv
output/sampled_data/0004_ac0.3_frag0.2_edge1_disp2_r001_samp_rand.csv
output/sampled_data/0005_ac0.3_frag0.5_edge1_disp2_r001_samp_all.csv
output/sampled_data/0005_ac0.3_frag0.5_edge1_disp2_r001_samp_cb.csv
output/sampled_data/0005_ac0.3_frag0.5_edge1_disp2_r001_samp_rand.csv
output/sampled_data/0006_ac0.3_frag0.8_edge1_disp2_r001_samp_all.csv
output/sampled_data/0006_ac0.3_frag0.8_edge1_disp2_r001_samp_cb.csv
output/sampled_data/0006_ac0.3_frag0.8_edge1_disp2_r001_samp_rand.csv
output/sampled_data/0007_ac0.5_frag0.2_edge1_disp2_r001_samp_all.csv
output/sampled_data/0007_ac0.5_frag0.2_edge1_disp2_r001_samp_cb.csv
output/sampled_data/0007_ac0.5_frag0.2_edge1_disp2_r001_samp_rand.csv
output/sampled_data/0008_ac0.5_frag0.5_edge1_disp2_r001_samp_all.csv
output/sampled_data/0008_ac0.5_frag0.5_edge1_disp2_r001_samp_cb.csv
output/sampled_data/0008_ac0.5_frag0.5_edge1_disp2_r001_samp_rand.csv
output/sampled_data/0009_ac0.5_frag0.8_edge1_disp2_r001_samp_all.csv
output/sampled_data/0009_ac0.5_frag0.8_edge1_disp2_r001_samp_cb.csv
output/sampled_data/0009_ac0.5_frag0.8_edge1_disp2_r001_samp_rand.csv
output/sampled_data/0010_ac0.7_frag0.2_edge1_disp2_r001_samp_all.csv
output/sampled_data/0010_ac0.7_frag0.2_edge1_disp2_r001_samp_cb.csv
output/sampled_data/0010_ac0.7_frag0.2_edge1_disp2_r001_samp_rand.csv
output/sampled_data/0011_ac0.7_frag0.5_edge1_disp2_r001_samp_all.csv
output/sampled_data/0011_ac0.7_frag0.5_edge1_disp2_r001_samp_cb.csv
output/sampled_data/0011_ac0.7_frag0.5_edge1_disp2_r001_samp_rand.csv
output/sampled_data/0012_ac0.7_frag0.8_edge1_disp2_r001_samp_all.csv
output/sampled_data/0012_ac0.7_frag0.8_edge1_disp2_r001_samp_cb.csv
output/sampled_data/0012_ac0.7_frag0.8_edge1_disp2_r001_samp_rand.csv
output/sampled_data/0013_ac0.9_frag0.2_edge1_disp2_r001_samp_all.csv
output/sampled_data/0013_ac0.9_frag0.2_edge1_disp2_r001_samp_cb.csv
output/sampled_data/0013_ac0.9_frag0.2_edge1_disp2_r001_samp_rand.csv
output/sampled_data/0014_ac0.9_frag0.5_edge1_disp2_r001_samp_all.csv
output/sampled_data/0014_ac0.9_frag0.5_edge1_disp2_r001_samp_cb.csv
output/sampled_data/0014_ac0.9_frag0.5_edge1_disp2_r001_samp_rand.csv
output/sampled_data/0015_ac0.9_frag0.8_edge1_disp2_r001_samp_all.csv
output/sampled_data/0015_ac0.9_frag0.8_edge1_disp2_r001_samp_cb.csv
output/sampled_data/0015_ac0.9_frag0.8_edge1_disp2_r001_samp_rand.csv
output/sampled_data/0016_ac0.7_frag0.2_edge1_disp2_r002_samp_all.csv
output/sampled_data/0016_ac0.7_frag0.2_edge1_disp2_r002_samp_cb.csv
output/sampled_data/0016_ac0.7_frag0.2_edge1_disp2_r002_samp_rand.csv
output/sampled_data/0017_ac0.7_frag0.5_edge1_disp2_r002_samp_all.csv
output/sampled_data/0017_ac0.7_frag0.5_edge1_disp2_r002_samp_cb.csv
output/sampled_data/0017_ac0.7_frag0.5_edge1_disp2_r002_samp_rand.csv
output/sampled_data/0018_ac0.7_frag0.8_edge1_disp2_r002_samp_all.csv
output/sampled_data/0018_ac0.7_frag0.8_edge1_disp2_r002_samp_cb.csv
output/sampled_data/0018_ac0.7_frag0.8_edge1_disp2_r002_samp_rand.csv
output/sampled_data/0019_ac0.7_frag0.2_edge1_disp2_r003_samp_all.csv
output/sampled_data/0019_ac0.7_frag0.2_edge1_disp2_r003_samp_cb.csv
output/sampled_data/0019_ac0.7_frag0.2_edge1_disp2_r003_samp_rand.csv
output/sampled_data/0020_ac0.7_frag0.5_edge1_disp2_r003_samp_all.csv
output/sampled_data/0020_ac0.7_frag0.5_edge1_disp2_r003_samp_cb.csv
output/sampled_data/0020_ac0.7_frag0.5_edge1_disp2_r003_samp_rand.csv
output/sampled_data/0021_ac0.7_frag0.8_edge1_disp2_r003_samp_all.csv
output/sampled_data/0021_ac0.7_frag0.8_edge1_disp2_r003_samp_cb.csv
output/sampled_data/0021_ac0.7_frag0.8_edge1_disp2_r003_samp_rand.csv
output/sampled_data/0022_ac0.7_frag0.2_edge1_disp2_r004_samp_all.csv
output/sampled_data/0022_ac0.7_frag0.2_edge1_disp2_r004_samp_cb.csv
output/sampled_data/0022_ac0.7_frag0.2_edge1_disp2_r004_samp_rand.csv
output/sampled_data/0023_ac0.7_frag0.5_edge1_disp2_r004_samp_all.csv
output/sampled_data/0023_ac0.7_frag0.5_edge1_disp2_r004_samp_cb.csv
output/sampled_data/0023_ac0.7_frag0.5_edge1_disp2_r004_samp_rand.csv
output/sampled_data/0024_ac0.7_frag0.8_edge1_disp2_r004_samp_all.csv
output/sampled_data/0024_ac0.7_frag0.8_edge1_disp2_r004_samp_cb.csv
output/sampled_data/0024_ac0.7_frag0.8_edge1_disp2_r004_samp_rand.csv
output/sampled_data/0025_ac0.7_frag0.2_edge1_disp2_r005_samp_all.csv
output/sampled_data/0025_ac0.7_frag0.2_edge1_disp2_r005_samp_cb.csv
output/sampled_data/0025_ac0.7_frag0.2_edge1_disp2_r005_samp_rand.csv
output/sampled_data/0026_ac0.7_frag0.5_edge1_disp2_r005_samp_all.csv
output/sampled_data/0026_ac0.7_frag0.5_edge1_disp2_r005_samp_cb.csv
output/sampled_data/0026_ac0.7_frag0.5_edge1_disp2_r005_samp_rand.csv
output/sampled_data/0027_ac0.7_frag0.8_edge1_disp2_r005_samp_all.csv
output/sampled_data/0027_ac0.7_frag0.8_edge1_disp2_r005_samp_cb.csv
output/sampled_data/0027_ac0.7_frag0.8_edge1_disp2_r005_samp_rand.csv
output/sampled_data/0028_ac0.7_frag0.2_edge1_disp2_r006_samp_all.csv
output/sampled_data/0028_ac0.7_frag0.2_edge1_disp2_r006_samp_cb.csv
output/sampled_data/0028_ac0.7_frag0.2_edge1_disp2_r006_samp_rand.csv
output/sampled_data/0029_ac0.7_frag0.5_edge1_disp2_r006_samp_all.csv
output/sampled_data/0029_ac0.7_frag0.5_edge1_disp2_r006_samp_cb.csv
output/sampled_data/0029_ac0.7_frag0.5_edge1_disp2_r006_samp_rand.csv
output/sampled_data/0030_ac0.7_frag0.8_edge1_disp2_r006_samp_all.csv
output/sampled_data/0030_ac0.7_frag0.8_edge1_disp2_r006_samp_cb.csv
output/sampled_data/0030_ac0.7_frag0.8_edge1_disp2_r006_samp_rand.csv
output/sampled_data/0031_ac0.7_frag0.2_edge1_disp2_r007_samp_all.csv
output/sampled_data/0031_ac0.7_frag0.2_edge1_disp2_r007_samp_cb.csv
output/sampled_data/0031_ac0.7_frag0.2_edge1_disp2_r007_samp_rand.csv
output/sampled_data/0032_ac0.7_frag0.5_edge1_disp2_r007_samp_all.csv
output/sampled_data/0032_ac0.7_frag0.5_edge1_disp2_r007_samp_cb.csv
output/sampled_data/0032_ac0.7_frag0.5_edge1_disp2_r007_samp_rand.csv
output/sampled_data/0033_ac0.7_frag0.8_edge1_disp2_r007_samp_all.csv
output/sampled_data/0033_ac0.7_frag0.8_edge1_disp2_r007_samp_cb.csv
output/sampled_data/0033_ac0.7_frag0.8_edge1_disp2_r007_samp_rand.csv
output/sampled_data/0034_ac0.7_frag0.2_edge1_disp2_r008_samp_all.csv
output/sampled_data/0034_ac0.7_frag0.2_edge1_disp2_r008_samp_cb.csv
output/sampled_data/0034_ac0.7_frag0.2_edge1_disp2_r008_samp_rand.csv
output/sampled_data/0035_ac0.7_frag0.5_edge1_disp2_r008_samp_all.csv
output/sampled_data/0035_ac0.7_frag0.5_edge1_disp2_r008_samp_cb.csv
output/sampled_data/0035_ac0.7_frag0.5_edge1_disp2_r008_samp_rand.csv
output/sampled_data/0036_ac0.7_frag0.8_edge1_disp2_r008_samp_all.csv
output/sampled_data/0036_ac0.7_frag0.8_edge1_disp2_r008_samp_cb.csv
output/sampled_data/0036_ac0.7_frag0.8_edge1_disp2_r008_samp_rand.csv
output/sampled_data/0037_ac0.7_frag0.2_edge1_disp2_r009_samp_all.csv
output/sampled_data/0037_ac0.7_frag0.2_edge1_disp2_r009_samp_cb.csv
output/sampled_data/0037_ac0.7_frag0.2_edge1_disp2_r009_samp_rand.csv
output/sampled_data/0038_ac0.7_frag0.5_edge1_disp2_r009_samp_all.csv
output/sampled_data/0038_ac0.7_frag0.5_edge1_disp2_r009_samp_cb.csv
output/sampled_data/0038_ac0.7_frag0.5_edge1_disp2_r009_samp_rand.csv
output/sampled_data/0039_ac0.7_frag0.8_edge1_disp2_r009_samp_all.csv
output/sampled_data/0039_ac0.7_frag0.8_edge1_disp2_r009_samp_cb.csv
output/sampled_data/0039_ac0.7_frag0.8_edge1_disp2_r009_samp_rand.csv
output/sampled_data/0040_ac0.7_frag0.2_edge1_disp2_r010_samp_all.csv
output/sampled_data/0040_ac0.7_frag0.2_edge1_disp2_r010_samp_cb.csv
output/sampled_data/0040_ac0.7_frag0.2_edge1_disp2_r010_samp_rand.csv
output/sampled_data/0041_ac0.7_frag0.5_edge1_disp2_r010_samp_all.csv
output/sampled_data/0041_ac0.7_frag0.5_edge1_disp2_r010_samp_cb.csv
output/sampled_data/0041_ac0.7_frag0.5_edge1_disp2_r010_samp_rand.csv
output/sampled_data/0042_ac0.7_frag0.8_edge1_disp2_r010_samp_all.csv
output/sampled_data/0042_ac0.7_frag0.8_edge1_disp2_r010_samp_cb.csv
output/sampled_data/0042_ac0.7_frag0.8_edge1_disp2_r010_samp_rand.csv
output/sampled_data/0043_ac0.7_frag0.2_edge1_disp2_r011_samp_all.csv
output/sampled_data/0043_ac0.7_frag0.2_edge1_disp2_r011_samp_cb.csv
output/sampled_data/0043_ac0.7_frag0.2_edge1_disp2_r011_samp_rand.csv
output/sampled_data/0044_ac0.7_frag0.5_edge1_disp2_r011_samp_all.csv
output/sampled_data/0044_ac0.7_frag0.5_edge1_disp2_r011_samp_cb.csv
output/sampled_data/0044_ac0.7_frag0.5_edge1_disp2_r011_samp_rand.csv
output/sampled_data/0045_ac0.7_frag0.8_edge1_disp2_r011_samp_all.csv
output/sampled_data/0045_ac0.7_frag0.8_edge1_disp2_r011_samp_cb.csv
output/sampled_data/0045_ac0.7_frag0.8_edge1_disp2_r011_samp_rand.csv
output/sampled_data/0046_ac0.7_frag0.2_edge1_disp2_r012_samp_all.csv
output/sampled_data/0046_ac0.7_frag0.2_edge1_disp2_r012_samp_cb.csv
output/sampled_data/0046_ac0.7_frag0.2_edge1_disp2_r012_samp_rand.csv
output/sampled_data/0047_ac0.7_frag0.5_edge1_disp2_r012_samp_all.csv
output/sampled_data/0047_ac0.7_frag0.5_edge1_disp2_r012_samp_cb.csv
output/sampled_data/0047_ac0.7_frag0.5_edge1_disp2_r012_samp_rand.csv
output/sampled_data/0048_ac0.7_frag0.8_edge1_disp2_r012_samp_all.csv
output/sampled_data/0048_ac0.7_frag0.8_edge1_disp2_r012_samp_cb.csv
output/sampled_data/0048_ac0.7_frag0.8_edge1_disp2_r012_samp_rand.csv
output/sampled_data/0049_ac0.7_frag0.2_edge1_disp2_r013_samp_all.csv
output/sampled_data/0049_ac0.7_frag0.2_edge1_disp2_r013_samp_cb.csv
output/sampled_data/0049_ac0.7_frag0.2_edge1_disp2_r013_samp_rand.csv
output/sampled_data/0050_ac0.7_frag0.5_edge1_disp2_r013_samp_all.csv
output/sampled_data/0050_ac0.7_frag0.5_edge1_disp2_r013_samp_cb.csv
output/sampled_data/0050_ac0.7_frag0.5_edge1_disp2_r013_samp_rand.csv
output/sampled_data/0051_ac0.7_frag0.8_edge1_disp2_r013_samp_all.csv
output/sampled_data/0051_ac0.7_frag0.8_edge1_disp2_r013_samp_cb.csv
output/sampled_data/0051_ac0.7_frag0.8_edge1_disp2_r013_samp_rand.csv
output/sampled_data/0052_ac0.7_frag0.2_edge1_disp2_r014_samp_all.csv
output/sampled_data/0052_ac0.7_frag0.2_edge1_disp2_r014_samp_cb.csv
output/sampled_data/0052_ac0.7_frag0.2_edge1_disp2_r014_samp_rand.csv
output/sampled_data/0053_ac0.7_frag0.5_edge1_disp2_r014_samp_all.csv
output/sampled_data/0053_ac0.7_frag0.5_edge1_disp2_r014_samp_cb.csv
output/sampled_data/0053_ac0.7_frag0.5_edge1_disp2_r014_samp_rand.csv
output/sampled_data/0054_ac0.7_frag0.8_edge1_disp2_r014_samp_all.csv
output/sampled_data/0054_ac0.7_frag0.8_edge1_disp2_r014_samp_cb.csv
output/sampled_data/0054_ac0.7_frag0.8_edge1_disp2_r014_samp_rand.csv
output/sampled_data/0055_ac0.7_frag0.2_edge1_disp2_r015_samp_all.csv
output/sampled_data/0055_ac0.7_frag0.2_edge1_disp2_r015_samp_cb.csv
output/sampled_data/0055_ac0.7_frag0.2_edge1_disp2_r015_samp_rand.csv
output/sampled_data/0056_ac0.7_frag0.5_edge1_disp2_r015_samp_all.csv
output/sampled_data/0056_ac0.7_frag0.5_edge1_disp2_r015_samp_cb.csv
output/sampled_data/0056_ac0.7_frag0.5_edge1_disp2_r015_samp_rand.csv
output/sampled_data/0057_ac0.7_frag0.8_edge1_disp2_r015_samp_all.csv
output/sampled_data/0057_ac0.7_frag0.8_edge1_disp2_r015_samp_cb.csv
output/sampled_data/0057_ac0.7_frag0.8_edge1_disp2_r015_samp_rand.csv
output/sampled_data/0058_ac0.7_frag0.2_edge1_disp2_r016_samp_all.csv
output/sampled_data/0058_ac0.7_frag0.2_edge1_disp2_r016_samp_cb.csv
output/sampled_data/0058_ac0.7_frag0.2_edge1_disp2_r016_samp_rand.csv
output/sampled_data/0059_ac0.7_frag0.5_edge1_disp2_r016_samp_all.csv
output/sampled_data/0059_ac0.7_frag0.5_edge1_disp2_r016_samp_cb.csv
output/sampled_data/0059_ac0.7_frag0.5_edge1_disp2_r016_samp_rand.csv
output/sampled_data/0060_ac0.7_frag0.8_edge1_disp2_r016_samp_all.csv
output/sampled_data/0060_ac0.7_frag0.8_edge1_disp2_r016_samp_cb.csv
output/sampled_data/0060_ac0.7_frag0.8_edge1_disp2_r016_samp_rand.csv
output/sampled_data/0061_ac0.7_frag0.2_edge1_disp2_r017_samp_all.csv
output/sampled_data/0061_ac0.7_frag0.2_edge1_disp2_r017_samp_cb.csv
output/sampled_data/0061_ac0.7_frag0.2_edge1_disp2_r017_samp_rand.csv
output/sampled_data/0062_ac0.7_frag0.5_edge1_disp2_r017_samp_all.csv
output/sampled_data/0062_ac0.7_frag0.5_edge1_disp2_r017_samp_cb.csv
output/sampled_data/0062_ac0.7_frag0.5_edge1_disp2_r017_samp_rand.csv
output/sampled_data/0063_ac0.7_frag0.8_edge1_disp2_r017_samp_all.csv
output/sampled_data/0063_ac0.7_frag0.8_edge1_disp2_r017_samp_cb.csv
output/sampled_data/0063_ac0.7_frag0.8_edge1_disp2_r017_samp_rand.csv
output/sampled_data/0064_ac0.7_frag0.2_edge1_disp2_r018_samp_all.csv
output/sampled_data/0064_ac0.7_frag0.2_edge1_disp2_r018_samp_cb.csv
output/sampled_data/0064_ac0.7_frag0.2_edge1_disp2_r018_samp_rand.csv
output/sampled_data/0065_ac0.7_frag0.5_edge1_disp2_r018_samp_all.csv
output/sampled_data/0065_ac0.7_frag0.5_edge1_disp2_r018_samp_cb.csv
output/sampled_data/0065_ac0.7_frag0.5_edge1_disp2_r018_samp_rand.csv
output/sampled_data/0066_ac0.7_frag0.8_edge1_disp2_r018_samp_all.csv
output/sampled_data/0066_ac0.7_frag0.8_edge1_disp2_r018_samp_cb.csv
output/sampled_data/0066_ac0.7_frag0.8_edge1_disp2_r018_samp_rand.csv
output/sampled_data/0067_ac0.7_frag0.2_edge1_disp2_r019_samp_all.csv
output/sampled_data/0067_ac0.7_frag0.2_edge1_disp2_r019_samp_cb.csv
output/sampled_data/0067_ac0.7_frag0.2_edge1_disp2_r019_samp_rand.csv
output/sampled_data/0068_ac0.7_frag0.5_edge1_disp2_r019_samp_all.csv
output/sampled_data/0068_ac0.7_frag0.5_edge1_disp2_r019_samp_cb.csv
output/sampled_data/0068_ac0.7_frag0.5_edge1_disp2_r019_samp_rand.csv
output/sampled_data/0069_ac0.7_frag0.8_edge1_disp2_r019_samp_all.csv
output/sampled_data/0069_ac0.7_frag0.8_edge1_disp2_r019_samp_cb.csv
output/sampled_data/0069_ac0.7_frag0.8_edge1_disp2_r019_samp_rand.csv
output/sampled_data/0070_ac0.7_frag0.2_edge1_disp2_r020_samp_all.csv
output/sampled_data/0070_ac0.7_frag0.2_edge1_disp2_r020_samp_cb.csv
output/sampled_data/0070_ac0.7_frag0.2_edge1_disp2_r020_samp_rand.csv
output/sampled_data/0071_ac0.7_frag0.5_edge1_disp2_r020_samp_all.csv
output/sampled_data/0071_ac0.7_frag0.5_edge1_disp2_r020_samp_cb.csv
output/sampled_data/0071_ac0.7_frag0.5_edge1_disp2_r020_samp_rand.csv
output/sampled_data/0072_ac0.7_frag0.8_edge1_disp2_r020_samp_all.csv
output/sampled_data/0072_ac0.7_frag0.8_edge1_disp2_r020_samp_cb.csv
output/sampled_data/0072_ac0.7_frag0.8_edge1_disp2_r020_samp_rand.csv
output/sampled_data/0073_ac0.7_frag0.2_edge1_disp2_r021_samp_all.csv
output/sampled_data/0073_ac0.7_frag0.2_edge1_disp2_r021_samp_cb.csv
output/sampled_data/0073_ac0.7_frag0.2_edge1_disp2_r021_samp_rand.csv
output/sampled_data/0074_ac0.7_frag0.5_edge1_disp2_r021_samp_all.csv
output/sampled_data/0074_ac0.7_frag0.5_edge1_disp2_r021_samp_cb.csv
output/sampled_data/0074_ac0.7_frag0.5_edge1_disp2_r021_samp_rand.csv
output/sampled_data/0075_ac0.7_frag0.8_edge1_disp2_r021_samp_all.csv
output/sampled_data/0075_ac0.7_frag0.8_edge1_disp2_r021_samp_cb.csv
output/sampled_data/0075_ac0.7_frag0.8_edge1_disp2_r021_samp_rand.csv
